.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    & .loader-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: inherit;
        align-items: inherit;

        > p {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
        }

        & .loader-circle {
            font-size: 50px;
        }
    }
}
